absl-py==2.3.1
altair==5.5.0
attrs==25.3.0
bayesian-optimization==3.1.0
beautifulsoup4==4.13.4
blinker==1.9.0
boxmot==15.0.2
cachetools==6.1.0
certifi==2025.8.3
cfgv==3.4.0
charset-normalizer==3.4.3
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
decorator==5.2.1
distlib==0.4.0
filelock==3.19.1
filterpy==1.4.5
Flask==3.1.1
fonttools==4.59.1
fsspec==2025.7.0
ftfy==6.3.1
gdown==5.2.0
gitdb==4.0.12
GitPython==3.1.45
grpcio==1.74.0
identify==2.6.13
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
itsdangerous==2.2.0
Jinja2==3.1.6
joblib==1.5.1
jsonschema==4.25.0
jsonschema-specifications==2025.4.1
kiwisolver==1.4.9
lapx==0.5.11.post1
loguru==0.7.3
Markdown==3.8.2
MarkupSafe==3.0.2
matplotlib==3.10.5
moviepy==2.2.1
mplcursors==0.6
mpmath==1.3.0
narwhals==2.1.2
networkx==3.4.2
nodeenv==1.9.1
numpy==2.2.6
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
opencv-python==4.11.0.86
packaging==25.0
pandas==2.3.1
pillow==11.3.0
platformdirs==4.3.8
pre_commit==4.3.0
proglog==0.1.12
protobuf==6.32.0
psutil==7.0.0
py-cpuinfo==9.0.0
pyarrow==21.0.0
pydeck==0.9.1
pyparsing==3.2.3
PyQt5==5.15.11
PyQt5-Qt5==5.15.17
PyQt5_sip==12.17.0
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.1.1
pytz==2025.2
PyYAML==6.0.2
referencing==0.36.2
regex==2024.11.6
requests==2.32.4
rpds-py==0.27.0
scikit-learn==1.7.1
scipy==1.15.3
six==1.17.0
smmap==5.0.2
soupsieve==2.7
streamlit==1.48.1
sympy==1.14.0
tenacity==9.1.2
tensorboard==2.20.0
tensorboard-data-server==0.7.2
threadpoolctl==3.6.0
toml==0.10.2
torch==2.8.0
torchvision==0.23.0
tornado==6.5.2
tqdm==4.67.1
triton==3.4.0
typing_extensions==4.14.1
tzdata==2025.2
ultralytics==8.3.179
ultralytics-thop==2.0.15
urllib3==2.5.0
virtualenv==20.34.0
watchdog==6.0.0
wcwidth==0.2.13
Werkzeug==3.1.3
wget==3.2
yacs==0.1.8
